#map {
    width: 100%;
    height: 400px;
}
body {font-family: 'Open Sans', sans-serif;}

p {
    color: #666;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 860px){
    nav ul{
        flex-direction: column;
    }
}

h1 {
    font-size: 2em;
    color: #e74c3c;
    font-family: 'Francois One', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
}



.masthead {
    background-color: #ecf0f1;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em 1em;
    font-size: 4em;
    font-weight: 300;
    background: #e74c3c;
    font-family: 'Francois One', sans-serif;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

body {
    background: #ecf0f1;
    line-height: 1.9;
}

.site-title {
    color: white;
}

.card {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 1em;
    border-radius: 16px;
}


.card a {
    color: black;
    text-decoration: none;
}

.card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
    padding: 1.4em;
    text-align: center;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
    color: #e74c3c;
    font-family: 'Francois One', sans-serif;
}

.card-content p {
    font-size: 95%;
}

img {
    width: 200px;
    height: auto;
}



@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33% - 0.5em);
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.welcome{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.welcome h1{
    font-size: 2em;
    color: #e74c3c;
    font-family: 'Francois One', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
    animation: bounce 2s;
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}


article.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

footer{
    padding-top: 30px;
}
.parag{
    background-color: white;
    border-radius: 19px;
    width: auto;
    margin: 30px;
    text-align: left;
    line-height: 1.9;
    padding: 15px;
}

