@import "lightbox.css";
body {font-family: 'Open Sans', sans-serif;}

p {
    color: #666;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 860px){
    nav ul{
        flex-direction: column;
    }
}

h1 {
    font-size: 2em;
    color: #e74c3c;
    font-family: 'Francois One', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
}
h2{
    font-family: 'Francois One', sans-serif;
}

.masthead {
    background-color: #ecf0f1;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1em 1em;
    font-size: 4em;
    font-weight: 300;
    background: #e74c3c;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

body {
    background: #ecf0f1;
    line-height: 1.9;
}

.site-title {
    color: white;
}

ul {
    list-style-type: none;
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

article h1{
    display: flex;
    justify-content: center;
    width: 100%;
    animation: bounce 2s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

p, .flexbox h2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexbox ul{
    list-style-type: circle;
    background-color: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: visible;
    position: unset;
    color: #666;
}


.flexbox li{
    margin: 20px 250px;
}

.flexbox li a{
    color: #666;
}
.flexbox li a:hover{
    background-color: white;
}
.parag{
    background-color: white;
    border-radius: 19px;
    width: auto;
    margin: 30px;
    text-align: left;
    line-height: 1.9;
    padding: 15px;
}
.parag ul{
    background-color: white;
}
