
body {font-family: 'Open Sans', sans-serif;}

p {color: #666;}

nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 860px){
    nav ul{
        flex-direction: column;
    }
}

h1 {
    font-size: 2em;
    color: #e74c3c;
    font-family: 'Francois One', sans-serif;
    padding-bottom: 30px;
    padding-top: 30px;
}


.masthead {
    background-color: #ecf0f1;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 1em 0;
    font-size: 4em;
    font-weight: 300;
    background: #e74c3c;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

body {
    background: #ecf0f1;
    line-height: 1.9;
}

.site-title {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
.tuloskortti h1, .tulokset h1, p{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexbox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

@media only screen and (max-width: 950px){
    .flexbox{
      flex-wrap: wrap;
      width: 100%;
    }
}
#pelaaja1, #pelaaja2, #pelaaja3, #pelaaja4,#pelaaja5{
    width: 300px;
}

footer{
    padding-top: 60px;
}

.tulokset p{
    line-height: 70px;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

button{
    width: 300px;
}

input::placeholder{
    text-align: center;
}
